services:
  - type: web
    name: ecommerce-api
    env: node
    plan: free
    buildCommand: "npm install"
    startCommand: "npm start"
    envVars:
      - key: NODE_ENV
        value: production
    healthCheckPath: /api/auth/check-auth
